@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    background-image: linear-gradient(270deg,#2C2D65, #201F22);
    padding-left: 120px;
    padding-right: 120px;
}

.header-class {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-transform: none;
    text-decoration: none;
    color: #FFFFFF;
}

.header-menu {
    height: 30px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 800;
}

.logo span {
    color: #E6606C;
}

.banner-section {
    width: 500px;
}

.banner-section > .banner-div {
    padding-top: 160px;
    letter-spacing: 0.045rem;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: baseline;
}

.banner-section > .banner-div > .deco3 {
    position: absolute;
    left: 70px;
    top: 250px
}

.banner-section > .banner-div > .deco2 {
    position: absolute;
    left: 380px;
    top: 500px
}

.banner-section > .deco1 {
    position: absolute;
    width: 730px;
    height: 747px;
    right: -100px;
    top: -100px
}

.banner-section > .banner-div > h1 {
    font-size: 64px;
    font-weight: 300;
}

.banner-section > .banner-div > h2 {
    font-size: 32px;
    font-weight: 400;
    color: #E8AB36;
}

.banner-section > .banner-div > p {
    font-size: 16px;
    font-weight: 300;
    color: #EFEFEF;
    text-transform: none;
    padding-right: 90px;
}

.banner-section > .banner-div > .banner-btn {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.btn_getstarted {
    background-color: #E6606C;
    padding: 13px 30px 13px 30px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 75px;
}

.banner-section > .banner-div > .banner-btn > .btn_knowmore {
    background-color: #EFEFEF;
    padding: 13px 30px 13px 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    border-radius: 75px;
}

.main1-section {
    padding-top: 245px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 570px;
    gap: 145px;
}

.main1-section > .main1-div-right {
    max-width: 470px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: baseline;
}

.main1-section > .main1-div-right > h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03rem;
    line-height: 32px;
    opacity: 0.5;
}

.main1-section > .main1-div-right > h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 56px;
    font-weight: 300;
    line-height: 64px;
    text-transform: none;
}

.ellipse {
    position: absolute;
    right: 360px;
    top: 900px;
}

.main1-section > .main1-div-right > h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
}

.main1-section > .main1-div-right > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    opacity: 0.5;
}

.main2-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2-parent {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: auto 432px;
    gap: 30px;
}

.main2-div {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 30vw;
    margin: auto;
}

.main2-section > .main2-parent > .main2-div > img {
    position: absolute;
    top: 1450px;
    left: 700px;
}

.main2-section > .main2-parent > .main2-div > h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03rem;
    opacity: 0.5;
}

.main2-section > .main2-parent > .main2-div > h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 56px;
    font-weight: 300;
    line-height: 64px;
    text-transform: none;
}

.main2-section > .main2-parent > .main2-div > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    opacity: 0.5;
    text-align: center;
    padding-bottom: 70px;
}

.desc {
    background-image: linear-gradient(270deg,#4D4F95, #2B2D66);
    height: 192px;
    border-radius: 0px 0px 12px 12px;
}

.main2-section > .main2-parent > .card > .card-rectangle > .desc > h6 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    text-transform: none;
    padding: 38px 32px 20px 32px;
}

.main2-section > .main2-parent > .card > .card-rectangle > .desc > .date {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    padding: 0px 32px 38px 32px;
    opacity: 0.5;
}

footer {
    padding-top: 115px;
    padding-bottom: 80px;
    width: 67%;
    margin: auto;
}

footer > .footer-div {
    display: flex;
    flex-direction: column;
}

footer > .footer-div > .footer-line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

footer > .footer-div > .footer-line2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer > .footer-div > .footer-hr {
    border: 1px solid white;
    width: 100%;
    margin-bottom: 41px;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    opacity: 0.5;
}

.terms {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: none;
    gap: 50px;
}